<mat-toolbar color="primary">
  Message Reader
</mat-toolbar>
<div class="container">

  <div class="description">
    <p>
      Message Reader attaches to a docker IoT device and receives messages from it.
    </p>
  </div>

  <mat-card>
    <div class="message-pane">
      <div class="message-content">
        <!-- Add your messages here -->
        <p *ngFor="let message of messages">{{ message }}</p>
      </div>
    </div>
  </mat-card>
  <br />

  <mat-card>
    <div class="input-area">
      <div class="input-container">
        <mat-form-field>
          <input matInput placeholder="Type your message" [(ngModel)]="newMessage">
          <button mat-button matSuffix color="primary" (click)="sendMessage()">Send</button>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" (click)="sendAction()">Do Stuff</button>
    </div>
  </mat-card>
</div>